# Qt / qmake generated
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.pro.user
*.qbs.user
*.autosave

# Build artifacts
*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE
*.user
*.user.*
.vscode/
.idea/

# Other build dirs
build*/
CamVigil_Node/V1_CamVigil_Node/tmp_camvigil.sqlite
